h1{
    color: white;
    padding-left: 2%;
    font-size: 3em;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-shadow: 4px 0 black, 0 4px black, 4px 0 black, 0 4px black;
}

p{
    color: black;
    padding-left: 2%;
    font-size: 2em;  
    font-family: 'Alegreya Sans SC', sans-serif; 
}