h1{
    color: white;
    padding-left: 2%;
    font-size: 3em;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-shadow: 7px 0 black, 0 7px black, 7px 0 black, 0 7px black;
}

h2{
    color: white;
    padding-left: 2%;
    font-family: 'Alegreya Sans SC', sans-serif;   
    font-size: 2em;
    text-align: center;
    text-shadow: 3px 0 black, 0 3px black, 3px 0 black, 0 3px black;
}

h3{
    color: black;
    padding-left: 2%;
    font-family: 'Alegreya Sans SC', sans-serif;   
    text-align: center;  
}


p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;  
    font-size: 1.4em;
}

.github{
    
    text-align: center; 
    margin-left: 4.2%;
     margin-top: -3%;
}





